<div class="row justify-content-center">
    <table class="table table-striped">
      <tbody>
        <tr *ngIf="oUsuarioSession?.tipousuario?.id==1">
          <th>ID</th>
          <td>{{oEquipo?.id}}</td>
        </tr>
        <tr>
        <tr>
          <td>Nombre</td>
          <td>{{oEquipo?.nombre}}</td>
        </tr>
        <tr>
          <td>Descripcion</td>
          <td>{{oEquipo?.descripcion}}</td>
        </tr>
        <tr>
          <td>Siglas</td>
          <td>{{oEquipo?.siglas}}</td>
        </tr>

      </tbody>
    </table>
  </div>