/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: BatmanForever;
    src: url(assets/fonts/batmfa__.woff) format("woff");
}
*{
    font-family: 'BatmanForever', sans-serif;
    color:white
}
body{
    background-color: black;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
